{
	key_type rsa2048
	preferred_chains {
		root_common_name "ISRG Root X1"
	}
}

{$TELEMETRY_DOMAIN} {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
	}

	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
			profile classic
		}
	}

	reverse_proxy telemetry-proxy:10000
}
